
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    var options = [];
    $(document).ready(function () {
        var url1 = "/Home/GetModel";
        $.get(url1, { MakeName: "Chevrolet" }, function (data) {
            var s = "";
            for (var i = 0; i < 5; i++) {
                s = s + "<li><a href=\"#\" class=\"small\" data-value=\"option " + i + "\" tabIndex=\"-1\"> <input type=\"checkbox\" /> &nbsp;option" + i + " </a></li>";
            }
            $(".dropdown-menu").html(s);
            alert(data);
        });
        $('.dropdown-menu a').click(function (event) {
            var $target = $(event.currentTarget),
     val = $target.attr('data-value'),
     $inp = $target.find('input'),
     idx;

            if ((idx = options.indexOf(val)) > -1) {
                options.splice(idx, 1);
                setTimeout(function () { $inp.prop('checked', false) }, 0);
            }
            else {
                options.push(val);
                setTimeout(function () { $inp.prop('checked', true) }, 0);
            }

            $(event.target).blur();
            var res = options.join(",");
            console.log(res);

            var url = "/Home/Get";
            $.get(url, { opts: res }, function (data) {
                var s = "";
                for (var i = 0; i < 5; i++) {
                    s=s+"<li><a href=\"#\" class=\"small\" data-value=\"option "+ i +"\" tabIndex=\"-1\"> <input type=\"checkbox\" /> &nbsp;option"+i+" </a></li>";
                }
                $(".dropdown-menu").html(s);
                     alert(data);
                 });
        });
        return false;
        });
</script>

@helper ActionCheck(string href,string cssClass,string data_value,string tabIndex,string name) {
    <li><a href="@href" class="@cssClass" data-value="@data_value" tabIndex="@tabIndex"> <input type="checkbox" /> &nbsp;@name </a></li>
        }
        <h2>Index</h2>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="button-group">
                        <button type="button" class="btn btn-default btn-sm d1ropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span> <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            @*@for(int i = 0; i < 5; i++)
                                {
                                    <li>@ActionCheck("#","small","option"+i,"-1", "option" + i)</li>
                                }*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>

